{% extends 'base.html' %}
{% load static %}
{% block content %}

    <div class="container m-2">
        <div class="d-flex justify-content-left m-l-2">
            <h1>Áreas de Conhecimento</h1>
        </div>
        <div class="d-flex justify-content-left m-l-2">
            <table class="table table-striped table-borderless table-hover caption-top w-auto">
                <thead class="table-dark">
                    <tr>
                        <th>Área</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
                    {% for area in areas %}
                    <tr>
                        <td>{{ area.nome }}</td>
                        <td>
                            <a href="{% url 'sentencas:editar_area' area.id %}" class="btn btn-primary btn-sm">Editar</a>
                            <a href="{% url 'sentencas:excluir_area' area.id %}" class="btn btn-danger btn-sm"
                            onclick="return confirm('Confirma exclusão?')">Excluir</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="d-flex justify-content-left m-l-2">
            <!-- ##### Pagination ##### -->
            {% if areas.has_other_pages %}
                <ul class="pagination">
                    {% if areas.has_previous %}
                        <li class="page-item">
                            <a href="?page={{ areas.previous_page_number }}" class="page-link">&laquo;</a>
                        </li>
                    {% else %}
                        <li class="page-item disabled">
                            <a class="page-link">&laquo;</a>
                        </li>
                    {% endif %}
                    {% for pagina in areas.paginator.page_range %}
                        {% if areas.number == pagina %}
                            <li class="page-item active">
                                <a class="page-link">{{ pagina }}</a>
                            </li>
                        {% else %}
                            <li class="page-item">
                                <a href="?page={{ pagina }}" class="page-link">{{ pagina }}</a>
                            </li>
                        {% endif %}
                    {% endfor %}

                    {% if areas.has_next %}
                        <li class="page-item">
                            <a href="?page={{ areas.next_page_number }}" class="page-link">&raquo;</a>
                        </li>
                    {% else %}
                        <li class="page-item disabled">
                            <a class="page-link">&raquo;</a>
                        </li>
                    {% endif %}
                </ul>
            {% endif %}
            <!-- ##### Pagination End ##### -->
        </div>
        <div class="d-flex justify-content-left  m-l-2">
            <a href="{% url 'sentencas:criar_area' %}" class="btn btn-outline-primary w-auto">Criar Área</a>
        </div>
    </div>
{% endblock %}