{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

    <head>
        <meta charset="UTF-8">
        <title>memorize</title>
        <link rel="stylesheet" href="{% static '/css/style.css' %}">
        <link rel="stylesheet" href="{% static '/css/bootstrap.min.css' %}">
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
    </head>

    <body class="container">
        {% include 'partials/_cabecalho_e_menu.html' %}
        {% include 'partials/_alertas.html' %}
        {% block content %}{% endblock %}
        {% include 'partials/_rodape.html' %}
    </body>

</html>